* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.container {
    width: 1320px;
    margin-right: auto;
    margin-left: auto;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 120px;
}

.pr-co {
    color: #ff0000;
}

.text-center {
    text-align: center;
}

.cmn_pd {
    padding: 126px;
}


.banner_area {
    position: relative;
    z-index: 1;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    color: #ffffff;
    font-family: Merriweather;
    background: url("../assets/images/Banner Image.png");
}

.banner_area:after {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #11020F 0%, rgba(16, 2, 17, 0.00) 100%);
    opacity: 100%;
    z-index: -1;
    border-radius: 16px;
}

.blog_title {
    padding: 0 344px;
}

.banner_area h3 {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner_area h1 {
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}



.offer_area {
    font-family: Merriweather;
}

.offer_area h2 {
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer_area p.pr-co {
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}

.category {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* vector area css start here  */
.vector_area {
    height: 600px;
    background: url("../assets/images/Vectorrr.png");
    display: flex;
    justify-content: space-between;
}

.vector_title {
    width: 55%;
}

.twenty {
    margin-top: 68px;
    margin-bottom: 68px;
    margin-right: 138px;

}

.vector_area h2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.vector_area p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.vector_area button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: none;
    border: none;
    padding: 10px;
    margin: 15px;
}

.booking_area {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
}

.booking_area p,
span {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.booking_area button {
    border-radius: 8px;
    background: #F00;
    display: inline-flex;
    padding: 16px 32px;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    margin: 45px 0 0 0;
}

.best_offer_area {}

.best_offer_area .flexable {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px;
}

.best_offer_area .coming {
    display: flex;
    align-items: center;
}

.best_offer_area .hpy_year {
    display: flex;
    align-items: end;
    padding-left: 100px;
}

.best_offer_area h5 {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.best_offer_area .coming h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 16px;
    text-transform: capitalize;
}

.best_offer_area p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.best_offer_area .coming p {
    margin-top: 22px;
}

.best_offer_area .ellips {
    width: 365px;
    height: 365px;
    border-radius: 50%;
    border: 15px solid #F00;
    padding: 34px;
}

.best_offer_area .ellips img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.best_offer_area .hpy_year h3 {
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.best_offer_area .hpy_year img {
    margin-top: 43px;
}



.fifty_discount_area {}

.fifty_discount_area h4 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.fifty_discount_area h2,
h2 span {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 16px;
}

.fifty_discount_area>p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-top: 28px;
    padding: 0 220px;
}

.discount_image {
    text-align: end;
    height: 433px;
    position: relative;
    margin-top: 64px;
}

.bottom_img {
    position: relative;
}

.abst_image {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.fifty_discount {
    width: 206.841px;
    height: 206.841px;
    border: 9.17px solid #FFF;
    background: #F00;
    border-radius: 50%;
    position: absolute;
    right: 25%;
    top: 32%;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-34.212deg);

}

.fifty_discount p.fifty {
    color: #FFF;
    font-family: Inter;
    font-size: 73.015px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fifty_discount p.discount {
    color: #FFF;
    font-family: Inter;
    font-size: 24.338px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.Portfolio_area h5 {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Portfolio_area h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;
}

.Portfolio_area p {
    color: rgba(7, 2, 17, 0.60);
    width: 896px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}

.products {
    grid-gap: 24px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
}

.product img {
    border-radius: 16px;
}

.product {
    transition: transform 0.6s;
}

.product:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.newsletter_area {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}



.newsletter_area {
    height: 616px;
}

.newsletter_area img {
    width: 150px;
    height: 150px;
    margin-top: 80px;
}

.newsletter_area h2 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 42px;
}

.newsletter_area p {
    color: rgba(7, 2, 17, 0.60);
    width: 896px;
    margin: auto;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}

.subscribe {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.inputarea {
    width: 100%;
    flex-wrap: nowrap;
}

input.fc {
    color: rgba(7, 2, 17, 0.30);
    width: 438px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px 0px 0px 50px;
    border: none;
    outline: none;
    padding: 24px;
}

button.btton {
    width: 210px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    margin: 0;
    border: none;
    padding: 24px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-left: -4px;
    cursor: pointer;
}

footer {
    height: 609px;
    background: #070211;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.connect_area {
    padding-top: 120px;
}

.connect_area p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    display: flex;
    align-items: center;
}

.connect_area span {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-right: 10px;
    display: inline-flex;
}

.connect_area .contact {
    padding-right: 135px;
}

.connect_area .contact img {
    padding-top: 0px;
}

hr {
    background: rgba(255, 255, 255, 0.15);
    height: 1px;
    margin: 50px 0;
    border: none;
}

.socials {
    justify-content: center;
}

.socials li {
    width: 64px;
    height: 64px;
    margin-right: 24px;
    position: relative;
}

.socials li a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.socials li a img {
    height: 64px;
    width: 64px;
}

.socials li:last-child {
    margin-right: 0px;
}

.copyright {
    margin-top: 50px;
}

.copyright p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}